In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import Ridge, Lasso

In [ ]:
# Attribute Information:

# Date, time year-month-day hour:minute:second

# Appliances, energy use in Wh

# lights, energy use of light fixtures in the house in Wh

# T1, Temperature in kitchen area, in Celsius

# RH_1, Humidity in kitchen area, in %

# T2, Temperature in living room area, in Celsius

# RH_2, Humidity in living room area, in %

# T3, Temperature in laundry room area

# RH_3, Humidity in laundry room area, in %

# T4, Temperature in office room, in Celsius

# RH_4, Humidity in office room, in %

# T5, Temperature in bathroom, in Celsius

# RH_5, Humidity in bathroom, in %

# T6, Temperature outside the building (north side), in Celsius

# RH_6, Humidity outside the building (north side), in %

# T7, Temperature in ironing room , in Celsius

# RH_7, Humidity in ironing room, in %

# T8, Temperature in teenager room 2, in Celsius

# RH_8, Humidity in teenager room 2, in %

# T9, Temperature in parents room, in Celsius

# RH_9, Humidity in parents room, in %

# To, Temperature outside (from Chievres weather station), in Celsius

# Pressure (from Chievres weather station), in mm Hg

# RH_out, Humidity outside (from Chievres weather station), in %

# Wind speed (from Chievres weather station), in m/s

# Visibility (from Chievres weather station), in km

# Tdewpoint (from Chievres weather station), Â°C

# rv1, Random variable 1, nondimensional

# rv2, Random variable 2, nondimensional

# Question 1

In [107]:
# The percent of the total variation of the dependent variable Y explained by the set of independent variables X is measured by
# Coefficient of Determination

# Question 2

In [110]:
# How do you define a Residual?

# Sum(y-yhat)^2

# Question 3

In [ ]:
# The straight line graph of the equation Y = a + BX, the slope is horizontal if
# b=0

# Question 4

In [ ]:
# Which of the one is true about Heteroskedasticity?


# Linear Regression with varying error terms

# Question 5

In [111]:
# Generally, which of the following method(s) is used for predicting continuous dependent variables?

# 1. Linear Regression

# 2. Logistic Regression


# 1 only

# Question 6

In [112]:
# From the following options below, which of these is/are true about “Ridge” or “Lasso” regression methods in case of feature selection?

# Lasso regression uses subset selection of features

# Ridge regression uses subset selection of features

# None of the above

# Both use subset selection of features

# ====================================

# None of the above

# Question 7

In [ ]:

# Which of the following sentences is/are true about outliers in Linear Regression:

# Linear regression is sensitive to outliers

# Question 8

In [ ]:

# Which of the following metrics can be used for evaluating regression models?

# 1. R Squared

# 2. Adjusted R Squared

# 3. F Statistics

# 4. RMSE / MSE / MAE

# All

# Question 9

In [ ]:
# A best fit line relating X and Y has a R-Squared value of 0.75. How do I interpret this information?


# 75% of the variance in Y is explained by X

# Question 10

In [ ]:
# Which of the following measures is optimal for comparing the goodness of the fit of competing regression models involving the same dependent variable?


# R-square

# Question 11

In [ ]:

# The Lasso can be interpreted as least-squares linear regression where:
    
# Weights are regularized with the L1 norm

# Question 12

In [27]:
df = pd.read_csv('energydata_complete.csv')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [77]:
x = df[['T2']]
y = df[['T6']]

linear_model = LinearRegression()
linear_model.fit(x, y)
predicted_values_linear = linear_model.predict(x)

In [78]:
r2_score = r2_score(y, predicted_values_linear)
round(r2_score, 2)

0.64

# Question 13

In [96]:
scaler = MinMaxScaler()
new_df = df.drop(columns=['date','lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(new_df), columns = new_df.columns)
features_df = normalised_df.drop(columns= ['Appliances'])
appliances_target = normalised_df['Appliances']

In [97]:
x_train, x_test, y_train, y_test = train_test_split(features_df, appliances_target, test_size=0.3, random_state=42)

linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

In [98]:
mae = mean_absolute_error(y_test, predicted_values)
round(mae,2)

0.05

# Question 14

In [99]:
rss = mean_squared_error(y_test, predicted_values) * len(y_test)
round(rss, 2)

45.35

# Question 15

In [100]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse,3)

0.088

# Question 16

In [101]:
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

TypeError: 'numpy.float64' object is not callable

# Question 17

In [102]:
feature_weights = linear_model.coef_

feature_weights

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

In [106]:
lowest_weight_index = np.argmin(feature_weights)
highest_weight_index = np.argmax(feature_weights)

print(new_df.columns[lowest_weight_index+1], new_df.columns[highest_weight_index+1])

RH_2 RH_1

In [104]:
new_df

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

# Question 18

In [62]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [70]:

predicted_after = ridge_reg.predict(x_test)

rmse_after = mean_squared_error(y_test, predicted_after, squared=False)

round(rmse_after, 3)

0.088

# Question 19

In [72]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

feature_weights = lasso_reg.coef_

feature_weights

array([ 0.        ,  0.01787993,  0.        , -0.        ,  0.        ,
        0.        , -0.        ,  0.        , -0.        ,  0.        ,
        0.        , -0.        , -0.        , -0.        ,  0.        ,
       -0.00011004, -0.        , -0.        ,  0.        , -0.        ,
       -0.04955749,  0.00291176,  0.        ,  0.        , -0.        ,
       -0.        ])

In [73]:
sum(feature_weights != 0)

4

# Question 20

In [75]:
predicted_values = lasso_reg.predict(x_test)

rmse = mean_squared_error(y_test, predicted_values, squared=False)

round(rmse, 3)

0.094